body {
    font-family: Arial, sans-serif; /* Sets the font for the page */
    background-color: #fff; /* Sets the background color */
    margin: 0;
    padding: 0;
}

.container {
    width: 300px; /* Adjust width as needed */
    margin: auto;
}

h1 {
    text-align: center;
    color: #333; /* Dark gray text color */
    padding: 20px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: #007BFF; /* Blue background */
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    display: block;
    width: 90%;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
